# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.xls
*.bak
*.tmp
arch_stav_riesenie/dwg/Conversion.txt
navrh_na_vydanie_stavebneho povolenia__zlucene.rtf
vykurovanie_chladenie_ventilacia/Literatura/podlahove_vykurovanietechnicke_udaje.pdf
vykurovanie_chladenie_ventilacia/ProjektHodnot.py
vykurovanie_chladenie_ventilacia/Projektove_energeticke_hodnotenie_vzor.pdf
vykurovanie_chladenie_ventilacia/ecb_170330123952_170810287.pdf
The_Price/Cena.xlsx
misc/Vyajdrenia_mocnosti.pdf
arch_stav_riesenie/CP/Predaj - ponuka Malopredaj - Šenkvice Zenit 11.4.17.pdf
